@import "../config";
.ui-body{
  font-size:0;
  background:rgb(250,250,250);
}
.ui-shopDetail__guide{
  height:1.18rem;
  width:100%;
  background:white;
  margin-bottom:.22rem;
  line-height:1.18rem;
  padding:0 .2rem;
  font-size:.32rem;
  color:rgb(76,188,190);
  border-bottom:1px solid rgb(221,221,221);
}
.ui-shopDetail__guideIcon{
  display:inline-block;
  width:.46rem;
  height:.4rem;
  background:url("../../image/boss/type.png");
  background-size:100% 100%;
  vertical-align: middle;
  margin-right: .1rem;
}
.ui-shopDetail__downIcon{
  display: inline-block;
  width: .42rem;
  height: .23rem;
  float: right;
  margin-top: .46rem;
}
.ui-shopDetail__item{
  width:100%;
  border-bottom:1px solid #dddddd;
  padding:.25rem .2rem .4rem .2rem;
  background:white;
  border-bottom:1px solid rgb(221,221,221);
}
.ui-shopDetail__item:nth-child(1){
  border-top:1px solid rgb(221,221,221);
  margin-top:0.2rem;
}
.ui-shopDetail__item > p{
  margin-top:.2rem;
}
.ui-shopDetail__topLine{
  font-size:.32rem;
  color:#333333;
}
.ui-shopDetail__credit{
  float:right;
  color:#11ae15;
  &.del{
    color:red;
  }
}
.ui-shopDetail__midLine{
  font-size:.28rem;
  color:rgb(153,153,153);
}
.ui-shopDetail__bottomLine{
  font-size:.28rem;
  color:rgb(153,153,153);
}
.ui-shopDetail__type{
  float:right;
}
.ui-shopDetail__lastLine{
  font-size:.28rem;
  color:rgb(124,203,203);
}




.ui-clerkBonusDetails__bonusType{
  width:100%;
  height:1.2rem;
  background:#fff;
  position:relative;
  &:after{
    position:absolute;
    display: block;
    content:'';
    width:100%;
    height:1px;
    background:#ddd;
    bottom:-1px;
  }
}

.ui-clerkBonusDetails__title{
  width:100%;
  padding:0 0.2rem;
  &:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
  }
}

.ui-clerkBonusDetails__iconLeft{
  display:block;
  width:0.44rem;
  height:1.2rem;
  background:url('../../image/clerk/iconLeft.png') center center no-repeat;
  background-size:0.44rem 0.4rem;
  float:left;
}

.ui-clerkBonusDetails__iconRight{
  display:block;
  width:0.44rem;
  height:1.2rem;
  background:url('../../image/clerk/fold.png') center center no-repeat;
  background-size:0.42rem 0.22rem;
  float:right;
  &.selected{
    background:url('../../image/clerk/unfold.png') center center no-repeat;
    background-size:0.42rem 0.22rem;
  }
}

.ui-clerkBonusDetails__titleText{
  display:block;
  height:1.2rem;
  line-height:1.2rem;
  font-size:0.32rem;
  color:#4cbdbe;
  float:left;
  padding-left:0.18rem;
}

.ui-clerkBonusDetails__typeList{
  width:100%;
  height:1rem;
  background:#fff;
  padding:0 0.2rem;
  border-bottom:1px solid #ddd;
}

.ui-clerkBonusDetails__typeText{
  display:block;
  height:1rem;
  line-height:1rem;
  font-size:0.28rem;
  color:#333;
  float:left;
}

.ui-clerkBonusDetails__iconSelect{
  display: block;
  width:0.24rem;
  height:0.24rem;
  border:3px solid #ddd;
  float:right;
  border-radius:0.12rem;
  margin-top:0.38rem;
  &.is-select{
    border:3px solid #56bff0;
  }
}

.ui-ui-clerkBonusDetails__item{
  width:100%;
}

.ui-clerkBonusDetails__itemList{
  width:100%;
  height:2rem;
  background:#fff;
  padding-top:0.26rem;
  border-top:1px solid $color-split-line;
}

.ui-clerkBonusDetails__itemList:first-child{
  margin-top:0.2rem;
}

.ui-clerkBonusDetails__line{
  width:100%;
  padding:0.1rem 0.2rem;
  &:after{
    content:'';
    display:block;
    width:0;
    height:0;
    clear:both;
    visibility: hidden;
  }
}

.ui-clerkBonusDetails__itemText{
  font-size:0.32rem;
  color:$mainFontColor;
}

.ui-clerkBonusDetails__itemTextTwo{
  font-size:0.28rem;
  color:#999999;
}

.is-left{
  float:left;
}

.is-right{
  float:right;
}

.is-clear{
  clear:both;
}
