@import '../base.scss';
.ui-body{
    // background-color: #F0F0F0;
    padding: 0;
    margin: 0;
}
.ui-member__allnumber{
    line-height: 1.3rem;
    font-size: 0.28rem;
    font-weight: 400;
    color: #333333;
}
.ui-home__down-arrow{
    display: inline-block;
    margin-left: .2rem;
    transform: rotateZ(90deg);
    font-weight: 600;
    font-size: .35rem;
    color: rgb(153,153,153);
}

.ui-weekturnover__chartTitle{
    position:absolute;
    font-size:0.32rem;
    color:#fff;
    margin-top:0.2rem;
    left:50%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    z-index:999;
}

.ui-weekturnover__bigImage{
    position: relative;
    display: block;
    width: 100%;
    height: 4.86rem;
    background-color: #ffffff;
    // padding: 0.16rem 0.2rem;
}



.ui-weekturnover__data{
    position: relative;
    display: block;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

.ui-weekturnover__dataBlock{
    position: relative;
    float: left;
    width: 50%;
    height:1.3rem;
    padding-top:0.24rem;
    margin: 0 auto;
    &:after{
        content:'';
        position: absolute;
        width: 1px;
        height: 0.32rem;
        top: 60%;
        margin-top: -0.32rem;
        right: 0;
        background-color: #c2c2c2;
    }
    &:nth-child(2){
        &:after{
            width: 0px;
        }
    }
}

.ui-weekturnover__dataBlock__two{
    position: relative;
    width: 100%;
    padding-left:10px;
    border-top:1px solid #eeeeee;
    height:1.3rem;
}

.ui-weekturnover__dataNum{
    display: block;
    font-size: 0.32rem;
    color: #333333;
    line-height: 0.4rem;
    text-align: center;

}

.ui-weekturnover__dataText{
    display: block;
    font-size: 0.24rem;
    color: #909090;
    line-height: 0.4rem;
    text-align: center;
}

.ui-weekturnover__dataNum__two{
    font-weight: 400;
    display: inline-block;
    float:left;
    font-size: 0.28rem;
    color: #333333;
    height:1.3rem;
    line-height: 1.3rem;
    padding:0 0 0 0.32rem;
}

.ui-weekturnover__dataText__two{
    display: inline-block;
    float:left;
    font-size: 0.32rem;
    color: #909090;
    height:1.3rem;
    line-height: 1.3rem;
    padding-left:0.3rem;
}

.ui-weekturnover__dataText__three{
    font-size: 0.32rem;
    color: #333333;
    height:1.2rem;
    line-height:1.2rem;
    float:left;
    padding-left:0.2rem;
}


.ui-weekturnover__detailHeader{
    background-color: #fff;
    padding-left:0.2rem;
    height:1.2rem;
}

.ui-weekturnover__detailBig{
    position: relative;
    padding: 0 0.2rem;
    background-color: #ffffff;
    border-bottom:1px solid #eeeeee;
}

.ui-weekturnover__detail{
    position: relative;
    display: block;
    height: 0.9rem;
    width: 100%;
    background-color: #ffffff;
}

.ui-weekturnover__icon__one{
    width:0.5rem;
    height:0.5rem;
    background:url("../../image/manager/customerNum.png") center center no-repeat;
    background-size:0.38rem 0.44rem;
    float:left;
    margin-top:0.42rem;
}

.ui-weekturnover__icon__two{
    width:0.5rem;
    height:0.5rem;
    background:url("../../image/manager/customerPrice.png") center center no-repeat;
    background-size:0.46rem 0.46rem;
    float:left;
    margin-top:0.45rem;
}

.ui-weekturnover__icon__three{
    width:0.5rem;
    height:0.5rem;
    background:url("../../image/manager/totalSale.png") center center no-repeat;
    background-size:0.4rem 0.46rem;
    float:left;
    margin-top:0.4rem;
}

.ui-weekturnover__left{
    padding:0;
    margin:0;
    float:left;
}

.ui-weekturnover__right{
    float:right;
    margin-right:0.2rem;
}


.ui-weekturnover__detailTime{
    font-size: 0.28rem;
    color: #909090;
    float:left;
    height:0.9rem;
    line-height:0.9rem;
}

.ui-weekturnover__detailR{
    height:0.9rem;
    line-height:0.9rem;
    font-size: 0.28rem;
    color:#e55252;
    float:right;
}

.ui-weekturnover__increase{
    color:#e54f4f;
}

.ui-weekturnover_leftIcon{
    background:url("../../image/manager/memberIcon.png") no-repeat;
    background-size:0.5rem 0.44rem;
    background-position:center center;
    width:0.5rem;
    height:1.2rem;
    line-height:1.2rem;
    float:left;
}

.ui-weekturnover_rightIcon{
    background:url("../../image/manager/arrow2.png") no-repeat;
    background-size:0.22rem 0.4rem;
    background-position:center center;
    width:0.8rem;
    height:1.2rem;
    line-height:1.2rem;
    float:right;
}
.ui-member__themecare{
    background-color: #fff;
    padding-left:0.2rem;
    height:2.3rem;

    border-top:1px solid #eee;
//  border-bottom:1px solid #eee;
    @include transform-scale(bottom);
}
.ui-member__themename{
    position: relative;
    padding-top: 0.36rem;
    padding-left: .5rem;
    color: #333;
    font-weight: 300;
    font-size: 0.32rem;
    >i{
        width: .3rem;
        height: .3rem;
        position:absolute;
        left: .01rem;
        background-image: url("../../image/member/special.png");
        background-repeat: no-repeat;
        background-size:100% 100%;
    }
    >b{
        width: .4rem;
        height: .4rem;
        position:absolute;
        right: .35rem;
        background-image: url("../../image/boss/content.png");
        background-repeat: no-repeat;
        background-size:100% 100%;
    }
    .ui-theme__usual{
        background-image: url("../../image/member/usual.png");
        background-repeat: no-repeat;
        background-size:100% 100%;
    }
}
.leftPadding{
    padding-left: .5rem;
}
.progress-bar {
position: relative;
background-color:#eeeeee; 
height: 0.1rem;
width: 7rem;
margin-top: 0.33rem;
border-radius: 0.05rem;
} 
.progress-bar>span {
position: absolute;
display: inline-block; 
width: 40%;
height: 0.1rem;
border-radius: 0.05rem;
box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
transition: width .4s ease-in-out; 
background-color: #f97135;
} 
.ui-member__themepeople{
    height: 0.4rem;
    line-height:0.4rem;
    font-size: 0.28rem;
    margin-top: 0.1rem;
    
}
.ui-member__people{
    color: #333333;
    float: left;
}
.ui-member__percentum{
    color: #f97135;
    float: right;
    margin-right: 0.25rem;
    font-weight: 500;
}
.ui-member__themetime{
     height: 0.4rem;
    line-height:0.4rem;
    font-size: 0.28rem;
    margin-top: 0.1rem;
    color: #b0b0b0;
}
.ui-member__dayoften{
    margin-top:0.2rem;
    background-color: #fff;
    padding-left:0.2rem;
    height:1.9rem;
    @include transform-scale(bottom);
    
}
.ui-member_more{
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    color: #54caf0;
    font-size: 0.28rem;
    background-color: #fff;
}
.ui-weekturnover__increase__two{
    color:#f56767;
    font-size: 0.5rem;
    display:block;
    padding-top:0.2rem;
    padding-bottom:0.1rem;
    text-align:right;
}

.ui-weekturnover__increase__text{
    display: block;
    color:#999;
    font-size:0.24rem; 
    text-align: right;
}

.is-red{
    color: #e54f4f;
}

.is-green{
    color:#11ae15;
}

.is-blue{
    color: #3b6dd0;
}

.ui-clear{
    clear:both;
}
.color912{
    color:#f97135;
}
