.ui-body {
  background-color: #F0F0F0;
  padding: 0;
  margin: 0; }

.ui-Function__noneBorder {
  position: relative;
  width: 100%;
  height: 46px;
  padding: 16px 9px 16px 110px;
  background-color: #FFFFFF;
  font-size: 14px; }
  .ui-Function__noneBorder:after {
    content: '';
    position: absolute;
    top: 45px;
    height: 1px;
    left: 10px;
    right: 10px;
    background-color: #c2c2c2; }
  .ui-Function__noneBorder:nth-last-child(2):after {
    left: 0px;
    right: 0px; }

.ui-Function__leftText {
  position: absolute;
  display: block;
  top: 16px;
  left: 9px;
  font-size: 14px;
  color: #333333; }

.ui-Function__star {
  position: absolute;
  display: block;
  top: 20px;
  left: 96px;
  color: #e54f4f; }

.ui-Function__fillModule {
  font-size: 14px;
  color: #808080;
  border: none;
  outline: none;
  width: 100%; }

.ui-button {
  position: absolute;
  display: block;
  background-color: #3B6DD0;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  top: 235px;
  left: 10px;
  right: 10px;
  padding: 15px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: none; }
  .ui-button:active {
    background-color: #1B3568; }
  .ui-button.isDisable {
    background-color: #C2C2C2; }
