.ui-allDetails__body {
  /* background-color: #F0F0F0; */
  margin: 0;
  padding: 0; }

.ui-allDetails__time {
  width: 100%;
  height: 1.8rem;
  background: #fff;
  padding: 0 0.2rem 0 0.2rem; }

.ui-allDetails__timeIcon {
  display: block;
  width: 0.4rem;
  height: 0.38rem;
  background: url(../../image/home/allDetailsIcon.png) 0 center no-repeat;
  -webkit-background-size: 0.36rem 0.36rem;
     -moz-background-size: 0.36rem 0.36rem;
       -o-background-size: 0.36rem 0.36rem;
          background-size: 0.36rem 0.36rem;
  float: left;
  margin-top: 0.70rem; }

.ui-allDetails__timeRight {
  width: 91%;
  float: right; }

.ui-allDetails__timeSelect {
  width: 100%;
  height: 0.9rem;
  border-bottom: 1px solid #eeeeee; }

.ui-allDetails__timeSelect:nth-of-type(2) {
  border: none; }

.ui-allDetails__startIcon {
  display: block;
  width: 0.07rem;
  height: 0.07rem;
  background: url(../../image/home/date1.png) 0 0 no-repeat;
  -webkit-background-size: 0.07rem 0.07rem;
     -moz-background-size: 0.07rem 0.07rem;
       -o-background-size: 0.07rem 0.07rem;
          background-size: 0.07rem 0.07rem;
  margin-top: 0.4rem;
  position: absolute;
  left: 0.84rem; }

.ui-allDetails__endIcon {
  display: block;
  width: 0.07rem;
  height: 0.07rem;
  background: url(../../image/home/date2.png) 0 0 no-repeat;
  -webkit-background-size: 0.07rem 0.07rem;
     -moz-background-size: 0.07rem 0.07rem;
       -o-background-size: 0.07rem 0.07rem;
          background-size: 0.07rem 0.07rem;
  margin-top: 0.4rem;
  position: absolute;
  left: 0.84rem; }

.ui-allDetails__arrowIcon {
  display: block;
  position: absolute;
  width: 0.2rem;
  height: 0.36rem;
  background: url(../../image/home/back1.png) 0 0 no-repeat;
  -webkit-background-size: 0.2rem 0.36rem;
     -moz-background-size: 0.2rem 0.36rem;
       -o-background-size: 0.2rem 0.36rem;
          background-size: 0.2rem 0.36rem;
  margin-top: 0.28rem;
  right: 0.2rem; }

.ui-allDetails__date {
  display: block;
  background: #fff;
  border: none;
  outline: none;
  width: 100%;
  height: 0.88rem;
  font-size: 0.28rem;
  padding: 0.44rem 0 0.44rem 0.34rem;
  float: right;
  color: #000; }

.ui-allDetails__item {
  width: 100%;
  background: #fff;
  margin-top: 0.24rem; }

.ui-allDetails__itemList {
  width: 100%;
  padding: 0 0.2rem 0 0.2rem;
  height: 0.91rem;
  border-bottom: 1px solid #f0f0f0; }
  .ui-allDetails__itemList:nth-child(5n) {
    border-bottom: 0.24rem solid #f0f0f0;
    height: 1.15rem; }

.ui-allDetails__itemListLeft {
  float: left;
  height: 0.91rem;
  line-height: 0.91rem;
  font-size: 0.28rem;
  color: #909090; }

.ui-allDetails__itemListRight {
  float: right;
  height: 0.91rem;
  line-height: 0.91rem;
  font-size: 0.28rem;
  color: #ff0000; }
