@import "../main/noResultComponent.scss";

.ui-dimensionFilter__body{
	margin:0;
	padding:0;
	background:#f0f0f0;
	&.fixed{
		position: fixed;
		left: 0;
		right: 0;
	}
}

.ui-dimensionFilter__search{
	width:100%;
	height:0.9rem;
	padding:0 0.2rem;
	background:#fff;
	overflow: hidden;
	position:relative;
	z-index:1000;
}

.ui-dimensionFilter__select{
	width:1.2rem;
	height:0.9rem;
	font-size:0.28rem;
	color:#3b6dd0;
	border:none;
	outline:none;
	display:block;
	margin-left:0.28rem;
	float:left;
}

.ui-dimensionFilter__selectText{
	display:block;
	height:0.9rem;
	line-height:0.9rem;
	float:left;
}

.ui-dimensionFilter__selectIcon{
	background:url("../../image/store/tri.png") center center no-repeat;
	background-size:0.2rem 0.1rem;
	width:0.2rem;
	height:0.9rem;
	display:block;
	float:left;
	margin-left:0.08rem;
}

.ui-dimensionFilter__input{
	width:5rem;
	height:0.58rem;
	float:left;
	margin-top:0.16rem;
	position:relative;
}

.ui-dimensionFilter__inputText{
	width:5rem;
	height:0.58rem;
	border-radius: 2px;
	border:1px solid #999999;
	outline:none;
	float:left;
	font-size: 0.28rem;
	padding: 0 0 0 0.6rem;
	-webkit-appearance: none;
	line-height: 1.25;
}

.ui-dimensionFilter__glassesIcon{
	width:0.32rem;
	height:0.32rem;
	background:url("../../image/home/glasses.png") center center no-repeat;
	background-size:0.32rem 0.32rem;
	position:absolute;
	left:0.16rem;
	top:0.12rem;
}

.ui-dimensionFilter__cancelIcon{
	width:0.58rem;
	height:0.58rem;
	background:url("../../image/store/cancel.png") center center no-repeat;
	background-size:0.32rem 0.32rem;
	position:absolute;
	right:0.02rem;
}

.ui-dimensionFilter__searchBtn{
	display:block;
	width:0.58rem;
	height:0.9rem;
	line-height:0.9rem;
	font-size:0.24rem;
	color:#333333;
	float:right;
	text-align:right;
}

.ui-dimensionFilter__result{
	width:100%;
	background:#fff;
}

.ui-dimensionFilter__resultList{
	width:100%;
	height:0.9rem;
	border-top:1px solid #eeeeee;
	padding:0 0.2rem;
}

.ui-dimensionFilter__resultDetails{
	display:block;
	height:0.9rem;
	line-height:0.9rem;
	font-size:0.28rem;
	color:#333333;
}

.ui-dimensionFilter__selectMenu{
	width:100%;
	position:absolute;
	z-index:999;
}

.ui-dimensionFilter__mask{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.3;
	position:absolute;
	top:0;
	z-index:998;
}

.ui-dimensionFilter__selectOptions{
	height:0.8rem;
	width:100%;
	padding:0 0 0 0.48rem;
	background:#fff;
	font-size:0.28rem;
	color:#333;
	line-height:0.8rem;
	border-top:1px solid #eeeeee;
}

.is-selected{
	color:#3b6dd0;
}

.is-showIcon{
	background:url("../../image/store/triup.png") center center no-repeat;
	background-size:0.2rem 0.1rem;
	width:0.2rem;
	height:0.9rem;
	display:block;
	float:left;
	margin-left:0.08rem;
}