.ui-exchangeList__content{
	width:100%;
	height:100%;
	background:#f6f6f6;
}

.ui-exchangeList__change{
	position:relative;
	width:100%;
	background:#fff;
	font-size:0.32rem;
	padding-left:0.28rem;
	overflow:hidden;
	
}
.ui-exchangeList__changeSide{
	float:left;
	margin-top:0.6rem;
	height:0.86rem;
	border-left:1px dashed #dddddd;
}
.ui-exchangeList__changeIcon{
	display:block;
	position:absolute;
	left:0.2rem;
	top:0.42rem;
	width:0.2rem;
	height:0.2rem;
	background:url(../../image/store/storeIcon1.png) no-repeat ;
	background-size:0.2rem 0.2rem;
}
.ui-exchangeList__changeIcon1{
	display:block;
	position:absolute;
	left:0.2rem;
	bottom:0.38rem;
	width:0.2rem;
    height:0.2rem;
	background:url(../../image/store/storeIcon2.png) no-repeat ;
	background-size:0.2rem 0.2rem;
}
.ui-exchangeList__changeList{ 
	float:right;
	 width:94%;
	overflow:hidden;
}
.ui-exchangeList__out{
	position:relative;
	width:100%;
	border-bottom:1px solid #dddddd;
    line-height: 1rem;
}
.ui-exchangeList__outStore{
   position:absolute;
   right: 0.52rem;   
}
.ui-exchangeList__outIcon{
    position:absolute;
    right:0.2rem;
    top:0.38rem;
	display:inline-block;
	width:0.14rem;
	height:0.38rem;
	background:url(../../image/clerk/arrow2.png) no-repeat;
	background-size:0.12rem 0.24rem;	
}
.ui-exchangeList__in{
	position:relative;
    line-height:1rem;
}
.ui-exchangeList__inStore{
  position:absolute;
  right: 0.52rem;
  color: #999999;   
}
.ui-exchangeList__changeText{
	margin-top:0.2rem;
	margin-left:1.3%;
	margin-right:1.3%;
	width:97.4%;
	height:2.5rem;
	border:none;
	padding-left:0.2rem;
	padding-top:0.26rem;
	font-size:0.32rem;
	border-radius:0.1rem;
	box-shadow:0.02rem 0.02rem 0.08rem #e7f6f6;
}
.ui-exchangeList__changeButton{
	margin-top:1rem;
	margin-left:10%;
	margin-right:10%;
	width:80%;
	height:1rem;
	background:#57bff2;
	text-align:center;
    color:#fff;
    border-radius:0.1rem;
	box-shadow:0.02rem 0.02rem 0.08rem #57bff2;
}
