.ui-body{
	background-color: #F0F0F0;
	padding: 0;
	margin: 0;
}

.ui-list{
	position: absolute;
	width: 100%;
}

.supplierName-select{
  display: block;
  position: absolute;
  padding: 0px 30px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  z-index: 99;
  opacity: 0;
  direction: rtl; }

  .storehouseName-select{
  display: block;
  position: absolute;
  padding: 0px 30px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  z-index: 99;
  opacity: 0;
  direction: rtl; }

.ui-list__date {
  display: block;
  position: absolute;
  width: 100%;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align: right;
  z-index: 99;
  opacity: 0; }


.ui-list__item{
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	font-size: 13px;
	padding: 14px 9px;
	text-align: left;
}

.ui-list__item.is-Line{
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
}

.ui-list__item.is-Footer{
	margin-bottom: 9px;
	overflow: hidden;
}

.ui-list__item.is-change{
	margin-bottom: 9px;
	overflow: hidden;
	padding:0px 9px;
}

.ui-list__itemLeft{
	display: block;
	font-size: 13px;
	left: 20px;
}

.ui-list__itemRight{
	position: absolute;
	display: block;
	font-size: 13px;
	color: #C0C0C0;
	right: 26px;
	top: 13px;
}

.ui-list__itemImage{
	position: absolute;
	display: block;
	right: 6px;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center center;
}

.ui-list__itemImage.is-trigon{
	bottom: 5px;
	background-size: 10px 10px;
	background-image: url(../../image/store/trigon.png);
}

.ui-list__itemSelectMax{
	position: relative;
}

.ui-list__itemSelectL{
	width: 50%;
	position: relative;
	height: 45px;
}

.ui-list__itemSelectR{
	width: 50%;
	position: absolute;
	height: 45px;
	right: 0px;
	top: 0px;
}

.ui-list__itemSelectColor{
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 32px;
	background-color: #E54F4F;
	border-radius: 10px;
}
.ui-list__itemSelectColor:active{
	background-color: #ad3636;
}

.ui-list__itemSelect.is-right{
	right: 0px;
}

.ui-list_itemSelect.is-Footer{
	margin-bottom: 9px;
}

.ui-list__itemSelectImg{
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 16px;
	top: 0px;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

.ui-list__itemSelectImg.is-Cut{
	background-image: url(../../image/store/catalog.png);
}

.ui-list__itemSelectImg.is-Up{
	background-image: url(../../image/store/add.png);
}

.ui-list__itemRight.is-edit{
	top: 0px;
	color: #000000;
	font-size: 12px;
}

.ui-list__itemImage.is-Edit{
	bottom: -11px;
	background-size: 16px 17px;
	background-image: url(../../image/store/edit.png);
}

.ui-list__itemThree{
	display: block;
	top: 0px;
	color: #000000;
	font-size: 12px;
	float: left; 
}

.ui-list__itemThree.is-left{
	width: 12%;
}

.ui-list__itemThree.is-certen{
	width: 25%;
	text-align: center;
}

.ui-list__itemThreePic{
	position: absolute;
	right: 0px;
	width: 30px;
	height: 20px;
	top: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	
	background-size: 18px 11px;
}

.ui-list__itemThreePic.is-unfold{
	background-image: url(../../image/store/unfold.png);
}

.ui-list__itemThreePic.is-packUp{
	background-image: url(../../image/storepack_up.png);
}

.ui-list__item.is-remark{
	margin-bottom: 9px;
	overflow: hidden;
	color: #C0C0C0;
	border: none;
}

.ui-list__itemDown{
	position: fixed;
	bottom: 0px;
	font-size: 13px;
	float: left;
	width: 50%;
}

.ui-list__itemDown.is-Left{
	background-color: #FFFFFF;
	padding: 6px;
	left: 0px;
	overflow: hidden;
}

.ui-list__itemDown.is-Right{
	font-size: 13px;
	color: #FFFFFF;
	padding: 15px;
	text-align: center;
	background-color: #3B6DD0;
	right: 0;
	width: 50%;
}

.ui-list__itemDownRight.is-Save{
	background-color: #3B6DD0;
	right: 0;
	width: 50%;
}

.ui-list__itemDownTextL{
	float: left;
	padding: 0px 6px 0px 0px;
}
.ui-list__itemDownTextLconter{
	padding: 1px;
}

.ui-list__itemDownTextR{
	float: left;
	color: #E54F4F;
	padding: 2px 0px;
}

/*选择商品*/
.ui-list__itemThreeDetail{
	width: 33%;
	float: left;
	padding: 14px 0px 0px;
}

.ui-list__itemThreeText{
	font-size: 12px;
	float: left;
	padding: 4px 6px 0 0;
}

.ui-list__intemTreeBox{
	border-radius: 2px;
	background-color: #eeeeee;
	border: 1px solid #909090;
	font-size: 14px;
	float: left;
	width: 45px;
	outline: none;
}

