<div class="ui-body">
<div class="ui-themeClerkSideAssistant__top">
	<p class="ui-themeClerkSideAssistant__btnCancel" v-touch:tap="onClose">
		<img class="ui-goBack" src="../../image/store/scanBack.png"></img>
	</p>
</div>
<!-- 类型 -->
<ul class="ui-themeClerkSideAssistant__bottom" v-if="type==1">
	<li class="ui-themeClerkSideAssistant__number" v-for="(i,item) in list" v-touch:tap="onChooseItem(i)">
 		<span>{{item.itemName}}</span>
 		<i v-if="item.isClick"></i>
	</li>
</ul>
<!-- 时间 -->
<ul class="ui-themeClerkSideAssistant__bottom" v-if="type==2">
	<li class="ui-themeClerkSideAssistant__number" v-for="(i,item) in list" v-touch:tap="onChooseTime(i)">
 		<span>{{item.itemName}}</span>
 		<i v-if="item.isClick"></i>
	</li>
	<li class="ui-themeClerkSideAssistant__number">
        <span>自定义时间</span>

        <div class="ui-themeClerkSideAssistant__duration">
            <!--<input type="text" placeholder="从"/>
            <span></span>
            <input type="text" placeholder="到"/>-->


            <input type="text" placeholder="请选择" readonly="readonly" v-model="startTime"
                   v-touch:tap.prevent="onSelectStart('startTime')"/>
            <span></span>
            <input type="text" placeholder="请选择" readonly="readonly" v-model="endTime"
                   v-touch:tap.prevent="onSelectEnd('endTime')"/>
        </div>
    </li>
</ul>
</div>