@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
.ui-clerkBonusDetails__bonusType {
  width: 100%;
  height: 1.2rem;
  background: #fff;
  position: relative; }
  .ui-clerkBonusDetails__bonusType:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #ddd;
    bottom: -1px; }

.ui-clerkBonusDetails__title {
  width: 100%;
  padding: 0 0.2rem; }
  .ui-clerkBonusDetails__title:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden; }

.ui-clerkBonusDetails__iconLeft {
  display: block;
  width: 0.44rem;
  height: 1.2rem;
  background: url("../../image/clerk/iconLeft.png") center center no-repeat;
  -webkit-background-size: 0.44rem 0.4rem;
     -moz-background-size: 0.44rem 0.4rem;
       -o-background-size: 0.44rem 0.4rem;
          background-size: 0.44rem 0.4rem;
  float: left; }

.ui-clerkBonusDetails__iconRight {
  display: block;
  width: 0.44rem;
  height: 1.2rem;
  background: url("../../image/clerk/fold.png") center center no-repeat;
  -webkit-background-size: 0.42rem 0.22rem;
     -moz-background-size: 0.42rem 0.22rem;
       -o-background-size: 0.42rem 0.22rem;
          background-size: 0.42rem 0.22rem;
  float: right; }

.ui-clerkBonusDetails__titleText {
  display: block;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.32rem;
  color: #4cbdbe;
  float: left;
  padding-left: 0.18rem; }

.ui-clerkBonusDetails__typeList {
  width: 100%;
  height: 1rem;
  background: #fff;
  padding: 0 0.2rem;
  border-bottom: 1px solid #ddd; }

.ui-clerkBonusDetails__typeText {
  display: block;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.28rem;
  color: #333;
  float: left; }

.ui-clerkBonusDetails__iconSelect {
  display: block;
  width: 0.24rem;
  height: 0.24rem;
  border: 3px solid #ddd;
  float: right;
  -webkit-border-radius: 0.12rem;
     -moz-border-radius: 0.12rem;
          border-radius: 0.12rem;
  margin-top: 0.38rem; }

.ui-ui-clerkBonusDetails__item {
  width: 100%; }

.ui-clerkBonusDetails__itemList {
  width: 100%;
  height: 2rem;
  background: #fff;
  padding-top: 0.26rem;
  border-top: 1px solid #ddd; }

.ui-clerkBonusDetails__itemList:first-child {
  margin-top: 0.2rem; }

.ui-clerkBonusDetails__line {
  width: 100%;
  padding: 0.1rem 0.2rem; }
  .ui-clerkBonusDetails__line:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden; }

.ui-clerkBonusDetails__itemText {
  font-size: 0.32rem;
  color: #333; }

.ui-clerkBonusDetails__itemTextTwo {
  font-size: 0.28rem;
  color: #999999; }

.is-select {
  border: 3px solid #56bff0; }

.is-left {
  float: left; }

.is-right {
  float: right; }

.is-clear {
  clear: both; }
