@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
.ui-home__body {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  position: relative; }

.ui-home__header {
  background-image: url(../../image/home/homeheader.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  width: 100%;
  height: 6.38rem;
  position: relative; }

.ui-home__title {
  font-size: 0.32rem;
  color: #ffffff;
  position: absolute;
  top: 1.3rem;
  width: 100%;
  text-align: center; }

.ui-home__middleText {
  text-align: center;
  color: #FFF; }

.ui-home__middleText2 {
  font-size: 0.8rem;
  padding-top: 2.75rem;
  text-align: center;
  font-weight: 600; }

.ui-home__middleText3 {
  margin-top: 0.2rem;
  font-size: 0.28rem;
  color: #afe8e8; }

.ui-home__bottomTitle {
  width: 100%;
  height: 1.5rem;
  background-color: #fff;
  display: table; }
  .ui-home__bottomTitle .ui-home__bottomText {
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
    position: relative; }
    .ui-home__bottomTitle .ui-home__bottomText:after {
      content: '';
      position: absolute;
      height: 0.4rem;
      border-right: 1px solid #ccc;
      right: 0;
      top: 50%;
      margin-top: -0.2rem; }
    .ui-home__bottomTitle .ui-home__bottomText:last-child:after {
      border: none; }
    .ui-home__bottomTitle .ui-home__bottomText .ui-home__bottomText1 {
      font-size: 0.4rem;
      width: 100%;
      color: #119e8f;
      text-align: center;
      font-weight: 600; }
    .ui-home__bottomTitle .ui-home__bottomText .ui-home__bottomText2 {
      font-size: 0.28rem;
      width: 100%;
      color: #999;
      text-align: center;
      padding-top: 0.1rem; }

.ui-home__func {
  font-size: 0.28rem;
  height: 0.6rem;
  line-height: 0.6rem;
  padding-left: 0.24rem;
  color: #909090; }

.ui-home__list {
  width: 100%;
  font-size: 0;
  width: 100%;
  overflow: hidden;
  clear: both; }

.ui-home__menuItem {
  position: relative;
  font-size: 10px;
  width: 50%;
  float: left;
  height: 1.2rem;
  background-color: #fff;
  position: relative; }
  .ui-home__menuItem:nth-child(2n+1) {
    border-right: 1px solid #eee;
    border-top: 1px solid #eee; }
  .ui-home__menuItem:nth-child(2n) {
    border-top: 1px solid #eee; }
  .ui-home__menuItem:nth-child(1), .ui-home__menuItem:nth-child(2) {
    border-top: none; }
  .ui-home__menuItem .ui-home__menuItemImg {
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
    display: inline-block; }
    .ui-home__menuItem .ui-home__menuItemImg img {
      height: 100%;
      width: 100%;
      display: block; }
  .ui-home__menuItem .ui-home__menuItemText {
    font-size: 0.28rem;
    color: #333;
    line-height: 1.2rem;
    display: inline-block;
    position: absolute;
    top: 0; }

.ui-home__commission {
  width: 7.1rem;
  height: 2rem;
  background: url("../../image/boss/zhichu.png") no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  margin: 0 auto;
  margin-top: 0.2rem; }
  .ui-home__commission .ui-home__commissionNum {
    font-size: 0.4rem;
    color: #9e7523;
    font-weight: 600;
    float: right;
    margin-right: 0.4rem;
    height: 2rem;
    line-height: 2rem; }

.ui-home__menuDiv {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.ui-home__menuIcon {
  width: 46%;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -23%; }

.ui-home__menuText {
  font-size: 12px;
  width: 100%;
  height: 100%;
  position: absolute; }

.ui-list__solidTop {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D2D2D2;
  top: 1;
  left: 0; }

.ui-list__solidBottom {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background-color: #D2D2D2; }

.ui-list__solidRight {
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #D2D2D2; }

.ui-list__text {
  position: absolute;
  bottom: 15%;
  text-align: center;
  width: 100%; }

.ui-home__modal {
  width: 6.5rem;
  height: 3rem;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 4.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2); }
  .ui-home__modal .ui-home__num {
    font-size: 1rem;
    color: #e54f4f;
    font-weight: 600;
    position: absolute;
    left: 1rem;
    top: 0.7rem; }
  .ui-home__modal .ui-home__text {
    font-size: 0.28rem;
    color: #333;
    position: absolute;
    left: 1rem;
    top: 1.8rem; }
  .ui-home__modal .ui-home__delIcon {
    position: absolute;
    top: 0.1rem;
    right: 0.2rem;
    font-size: 0.4rem;
    color: #ccc;
    font-weight: 800; }
  .ui-home__modal .ui-home__btn {
    font-size: 0.28rem;
    width: 1.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    -webkit-border-radius: 0.3rem;
       -moz-border-radius: 0.3rem;
            border-radius: 0.3rem;
    text-align: center;
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #fff;
    outline: none;
    border: 1px solid #e54f4f;
    color: #e54f4f; }

.ui-home__blcok {
  background-color: #fff;
  height: 1.5rem;
  width: 100%; }
