@charset "UTF-8";
/*=============================
*
*   noResult component
*
*==============================*/
/*=========== scss ===========*/
.ui-allDetails__noResultWrap {
  position: relative;
  width: 100%;
  background-color: #fafafa; }

.ui-allDetails__noResult {
  position: absolute;
  width: 3rem;
  padding-top: 3.1rem;
  top: 3.1rem;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #999; }
  .ui-allDetails__noResult > i {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background-image: url("../../image/boss/noResult.png");
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%; }

/*=========== html ===========*/
/*
    <div class="ui-allDetails__noResultWrap" id="noResultWrap" v-show="isNoResult">
        <div class="ui-allDetails__noResult" >
            <i></i>
            没有查到相关信息
        </div>
    </div>
*/
/*=========== js ===========*/
/*
    ready: function () {
        //设置noResultWrap的高度
        var h = api.frameHeight || window.screen.height
        document.getElementById('noResultWrap').style.height = h + 'px'
   },
*/
.ui-uncheckBill__body {
  /* background-color: #F0F0F0; */
  margin: 0;
  padding: 0; }

.ui-uncheckBill__content {
  background: #fff;
  padding: 0 0.2rem 0  0.4rem;
  margin-bottom: 0.2rem; }

.ui-uncheckBill__title {
  position: relative;
  width: 100%;
  height: 0.9rem; }

.ui-uncheckBill__textLeft {
  display: block;
  font-size: 0.28rem;
  color: #333333;
  line-height: 0.9rem;
  float: left;
  font-weight: 400; }

.ui-uncheckBill__textNum {
  display: block;
  font-size: 0.28rem;
  color: #48bcbc;
  line-height: 0.9rem;
  float: right;
  margin-right: 0.2rem; }

.ui-uncheckBill__iconFold {
  float: right;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: url("../../image/store/uncheckBillUp.png") center center no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  margin-top: 0.32rem; }

.ui-uncheckBill__list {
  width: 100%;
  height: 1.3rem;
  border-top: 1px solid #eeeeee; }

.ui-uncheckBill__details {
  float: left; }

.ui-uncheckBill__detailsText {
  display: block;
  font-size: 0.28rem;
  color: #333333;
  margin-top: 0.3rem; }

.ui-uncheckBill__detailsTime {
  display: block;
  font-size: 0.24rem;
  color: #909090;
  margin-top: 0.24rem; }

.ui-uncheckBill__iconRight {
  float: right;
  display: block;
  width: 0.12rem;
  height: 0.2rem;
  background: url("../../image/home/back1.png") center center no-repeat;
  -webkit-background-size: 0.12rem 0.20rem;
     -moz-background-size: 0.12rem 0.20rem;
       -o-background-size: 0.12rem 0.20rem;
          background-size: 0.12rem 0.20rem;
  margin-top: 0.54rem; }

.is-show {
  float: right;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: url("../../image/store/uncheckBillDown.png") center center no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  margin-top: 0.32rem; }

.ui-uncheckBill__detailsRange {
  display: block;
  float: right;
  font-size: 0.28rem;
  color: #48bcbc;
  height: 1.3rem;
  line-height: 1.3rem;
  margin-right: 0.2rem; }

.ui-uncheckBill__rectangle {
  position: absolute;
  top: 0.3rem;
  left: -0.2rem;
  height: 0.28rem;
  width: 0.05rem;
  background: #48bcbc; }
