.ui-body {
  padding: 0;
  margin: 0; }

.ui-home__title {
  font-size: 0.32rem;
  text-align: center; }

.ui-home__down-arrow {
  display: inline-block;
  margin-left: .2rem;
  -webkit-transform: rotateZ(90deg);
     -moz-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  font-weight: 600;
  font-size: .35rem;
  color: #999999; }

.ui-weekturnover__bigImage {
  position: relative;
  display: block;
  width: 100%;
  height: 4.86rem;
  background-color: #ffffff; }

.ui-home__themeList {
  position: relative;
  width: 7.1rem;
  height: 2rem;
  background: url("../../image/boss/themeBg.png") no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  margin: 0 auto;
  margin-top: 0.2rem; }

.ui-home__themeItemLeft {
  position: relative; }
  .ui-home__themeItemLeft i {
    width: 0.7rem;
    height: 0.7rem;
    display: block;
    background: url("../../image/manager/pms.png") no-repeat;
    -webkit-background-size: 0.7rem 0.7rem;
       -moz-background-size: 0.7rem 0.7rem;
         -o-background-size: 0.7rem 0.7rem;
            background-size: 0.7rem 0.7rem;
    position: absolute;
    top: 0.6rem;
    left: 0.4rem; }
  .ui-home__themeItemLeft span {
    position: absolute;
    display: block;
    top: 0.85rem;
    left: 1.3rem;
    color: #eb7556;
    font-size: 0.32rem; }

.ui-home__themeItemLeft1 {
  position: relative; }
  .ui-home__themeItemLeft1 i {
    width: 0.7rem;
    height: 0.5rem;
    display: block;
    background: url("../../image/manager/look.png") no-repeat;
    -webkit-background-size: 0.7rem 0.5rem;
       -moz-background-size: 0.7rem 0.5rem;
         -o-background-size: 0.7rem 0.5rem;
            background-size: 0.7rem 0.5rem;
    position: absolute;
    top: 0.75rem;
    left: 0.4rem; }
  .ui-home__themeItemLeft1 span {
    position: absolute;
    display: block;
    top: 0.85rem;
    left: 1.3rem;
    color: #eb7556;
    font-size: 0.32rem; }

.ui-home__themeItemRight {
  position: relative; }

.ui-home__themenum {
  position: absolute;
  top: 0.6rem;
  right: 0.2rem;
  font-size: 0.4rem;
  color: #e64f20;
  font-weight: 600; }

.ui-home__themePeopleNum {
  position: absolute;
  top: 1.1rem;
  right: 0.2rem;
  font-size: 0.28rem;
  color: white; }

.ui-weekturnover__data {
  position: relative;
  display: block;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden; }

.ui-weekturnover__dataBlock {
  position: relative;
  float: left;
  width: 50%;
  height: 1.3rem;
  padding-top: 0.24rem;
  margin: 0 auto; }
  .ui-weekturnover__dataBlock:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 0.32rem;
    top: 60%;
    margin-top: -0.32rem;
    right: 0;
    background-color: #c2c2c2; }
  .ui-weekturnover__dataBlock:nth-child(2):after {
    width: 0px; }

.ui-weekturnover__dataBlock__two {
  position: relative;
  width: 100%;
  padding-left: 10px;
  border-top: 1px solid #eeeeee;
  height: 1.3rem; }

.ui-weekturnover__dataNum {
  display: block;
  font-size: 0.32rem;
  color: #333333;
  line-height: 0.4rem;
  text-align: center; }

.ui-weekturnover__dataText {
  display: block;
  font-size: 0.24rem;
  color: #909090;
  line-height: 0.4rem;
  text-align: center; }

.ui-weekturnover__dataNum__two {
  display: inline-block;
  float: left;
  font-size: 0.32rem;
  font-weight: 500;
  color: #333;
  height: 1.3rem;
  line-height: 1.3rem;
  padding: 0 0 0 0.32rem; }

.ui-weekturnover__dataText__two {
  display: inline-block;
  float: left;
  font-size: 0.32rem;
  color: #333;
  height: 1.3rem;
  line-height: 1.3rem;
  padding-left: 0.3rem; }

.ui-weekturnover__dataText__three {
  font-size: 0.32rem;
  color: #333333;
  height: 1.2rem;
  line-height: 1.2rem;
  float: left;
  padding-left: 0.2rem; }

.ui-weekturnover__detailHeader {
  background-color: #fff;
  padding-left: 0.2rem;
  height: 1.2rem;
  margin-top: 0.2rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

.ui-weekturnover__detailBig {
  position: relative;
  padding: 0 0.2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee; }

.ui-weekturnover__detail {
  position: relative;
  display: block;
  height: 0.9rem;
  width: 100%;
  background-color: #ffffff; }

.ui-weekturnover__icon__one {
  width: 0.5rem;
  height: 0.5rem;
  background: url("../../image/manager/customerNum.png") center center no-repeat;
  -webkit-background-size: 0.38rem 0.44rem;
     -moz-background-size: 0.38rem 0.44rem;
       -o-background-size: 0.38rem 0.44rem;
          background-size: 0.38rem 0.44rem;
  float: left;
  margin-top: 0.42rem; }

.ui-weekturnover__icon__two {
  width: 0.5rem;
  height: 0.5rem;
  background: url("../../image/manager/customerPrice.png") center center no-repeat;
  -webkit-background-size: 0.46rem 0.46rem;
     -moz-background-size: 0.46rem 0.46rem;
       -o-background-size: 0.46rem 0.46rem;
          background-size: 0.46rem 0.46rem;
  float: left;
  margin-top: 0.4rem; }

.ui-weekturnover__icon__three {
  width: 0.5rem;
  height: 0.5rem;
  background: url("../../image/manager/totalSale.png") center center no-repeat;
  -webkit-background-size: 0.4rem 0.46rem;
     -moz-background-size: 0.4rem 0.46rem;
       -o-background-size: 0.4rem 0.46rem;
          background-size: 0.4rem 0.46rem;
  float: left;
  margin-top: 0.4rem; }

.ui-weekturnover__left {
  padding: 0;
  margin: 0;
  float: left; }

.ui-weekturnover__right {
  float: right;
  margin-right: 0.2rem; }

.ui-weekturnover__detailTime {
  font-size: 0.28rem;
  color: #909090;
  float: left;
  height: 0.9rem;
  line-height: 0.9rem; }

.ui-weekturnover__detailR {
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.28rem;
  color: #e55252;
  float: right; }

.ui-weekturnover__increase {
  color: #e54f4f; }

.ui-weekturnover_leftIcon {
  background: url("../../image/manager/money.png") no-repeat;
  -webkit-background-size: 0.4rem 0.44rem;
     -moz-background-size: 0.4rem 0.44rem;
       -o-background-size: 0.4rem 0.44rem;
          background-size: 0.4rem 0.44rem;
  background-position: center center;
  width: 0.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  float: left; }

.ui-weekturnover_rightIcon {
  background: url("../../image/manager/arrow2.png") no-repeat;
  -webkit-background-size: 0.22rem 0.4rem;
     -moz-background-size: 0.22rem 0.4rem;
       -o-background-size: 0.22rem 0.4rem;
          background-size: 0.22rem 0.4rem;
  background-position: center center;
  width: 0.8rem;
  height: 1.2rem;
  line-height: 1.2rem;
  float: right; }

.ui-weekturnover__increase__two {
  color: #333;
  font-size: 0.32rem;
  font-weight: 500;
  display: block;
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  text-align: right; }

.ui-weekturnover__increase__text {
  display: block;
  color: #999;
  font-size: 0.24rem;
  text-align: right; }

.is-red {
  color: #e54f4f; }

.is-green {
  color: #11ae15; }

.is-blue {
  color: #3b6dd0; }

.ui-clear {
  clear: both; }
