html, body {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }

.scanSide-info {
  position: absolute;
  top: 3.3rem;
  width: 100%;
  background: #fff;
  padding: 0.26rem 0.2rem 0 0.2rem;
  font-size: 0.28rem; }

.scanSide-title {
  border-bottom: 1px solid #dddddd; }

.scanSide-title__info {
  position: relative;
  line-height: 0.4rem;
  font-size: 0.32rem;
  margin-bottom: 0.2rem; }

.scanSide-icon {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url(../../image/store/shopDetail.png) no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%; }

.scanSide-title__text {
  position: absolute;
  top: 0;
  margin-left: 0.2rem; }

.scanSide-spec {
  margin-bottom: 0.2rem; }

.scanSide-num {
  margin-bottom: 0.2rem; }

.scanSide-num__num {
  color: #f00; }

.scanSide-input {
  position: relative;
  padding: 0.24rem 0; }

.scanSide-input__input {
  position: absolute;
  top: 0.14rem;
  right: 0;
  width: 1rem;
  height: 0.5rem;
  border: 1px solid #4cbdbe;
  -webkit-border-radius: 0.05rem;
     -moz-border-radius: 0.05rem;
          border-radius: 0.05rem;
  outline: none;
  text-align: center; }

.scanSide-input__text {
  font-weight: bold; }
  .scanSide-input__text i {
    padding-left: 0.2rem;
    font-weight: normal;
    color: #999999; }
