.ui-custom__month {
  padding: 0.2rem; }

.ui-custom__item {
  padding: 0.2rem 0.2rem 0 0.2rem;
  background: white;
  border-bottom: 1px solid #dddddd;
  font-size: 0; }

.ui-custom__icon {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../../image/store/newCustomer.png") center center no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%; }

.ui-custom__line {
  position: relative;
  width: 100%;
  height: 15px;
  margin-bottom: .2rem; }

.ui-custom__line span {
  display: inline-block; }

.ui-custom__name {
  vertical-align: top;
  font-size: .32rem;
  color: #333333;
  margin-left: 0.2rem; }

.ui-custom__time {
  font-size: .28rem;
  color: #999999;
  margin-left: 0.5rem; }

.ui-custom__time2 {
  font-size: .28rem;
  color: #999999;
  margin-left: 0.4rem; }

.ui-custom__phone {
  font-size: .28rem;
  color: #7ccaca;
  margin-left: 0.8rem; }

.ui-custom__check {
  font-size: .28rem;
  float: right; }
  .ui-custom__check.ing {
    color: #ff6f02; }
  .ui-custom__check.ed {
    color: #5cc161; }
  .ui-custom__check.un {
    color: red; }

.ui-custom__code {
  font-size: .28rem;
  color: #999999;
  margin-left: 0.8rem; }

.ui-custom__phoneIcon {
  display: inline-block;
  width: .28rem;
  height: .3rem;
  margin-right: .1rem;
  vertical-align: bottom;
  background: url("../../image/boss/phoneIcon.png");
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%; }

.ui-custom__readIcon {
  display: inline-block;
  width: .28rem;
  height: .3rem;
  margin-right: .1rem;
  vertical-align: bottom;
  background: url("../../image/boss/readIcon.png");
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%; }
