.ui-targetSalesRank__wrapper{
	width:100%;
}

.ui-targetSalesRank__allTarget{
	position:relative;
	width:100%;
	height:1rem;
	background:#fff;
	border-bottom:1px solid #ddd;
	padding:0 0.2rem 0 0rem;
	.ui-targetSalesRank__iconLeft{
		position:absolute;
		width:0.04rem;
		height:0.3rem;
		background:#4cbdbe;
		top:0.34rem;
	}
	.ui-targetSalesRank__text{
		position:absolute;
		font-size:0.32rem;
		color:#333;
		top:0.34rem;
		left:0.16rem;
	}
	.ui-targetSalesRank__iconRight{
		position:absolute;
		width:0.24rem;
		height:0.44rem;
		background:url("../../image/assistant/iconRight.png") center center no-repeat;
		background-size:100% 100%;
		top:0.28rem;
		right:0.2rem;
	}
}

.ui-targetSalesRank__block{
	position:relative;
	width:100%;
	height:1.2rem;
	background:#fff;
	border-bottom:1px solid #ddd;
}

// .ui-targetSalesRank__block:nth-child(2){
// 	margin-top:0.2rem;
// 	border-top:1px solid #ddd;
// }

.ui-targetSalesRank__iconOne{
	position:absolute;
	width:0.44rem;
	height:0.44rem;
	background:url(../../image/assistant/one.png) center center no-repeat;
	background-size:100% 100%;
	top:0.36rem;
	left:0.2rem;
}

.ui-targetSalesRank__iconTwo{
	position:absolute;
	width:0.44rem;
	height:0.44rem;
	background:url(../../image/assistant/two.png) center center no-repeat;
	background-size:100% 100%;
	top:0.36rem;
	left:0.2rem;
}

.ui-targetSalesRank__iconThree{
	position:absolute;
	width:0.44rem;
	height:0.44rem;
	background:url(../../image/assistant/three.png) center center no-repeat;
	background-size:100% 100%;
	top:0.36rem;
	left:0.2rem;
}

.ui-targetSalesRank__iconCommon{
	position:absolute;
	width:0.36rem;
	height:0.36rem;
	background:#b4c8c8;
	top:0.36rem;
	left:0.22rem;
	border-radius: 100%;
	color:#fff;
	text-align:center;
	line-height:0.36rem;
	font-size:0.32rem;
}

.ui-targetSalesRank__salesName{
	position: absolute;
	font-size:0.32rem;
	color:#333;
	left:0.8rem;
	top:0.24rem;
}


.ui-targetSalesRank__shopName{
	position: absolute;
	font-size:0.24rem;
	color:#999;
	left:0.8rem;
	top:0.68rem;
}

.ui-targetSalesRank__salesPrice{
	position: absolute;
	font-size:0.32rem;
	color:#333;
	right:1.88rem;
	top:0.24rem;
}

.ui-targetSalesRank__salesTarget{
	position: absolute;
	font-size:0.24rem;
	color:#999;
	right:1.88rem;
	top:0.68rem;
}

.ui-targetSalesRank__salesAchievement{
	position: absolute;
	font-size:0.32rem;
	color:#ff0000;
	top:0.48rem;
	right:0.2rem;
}
