.ui-managerSet__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0.2rem;
  border-top: 1px solid #ddd; }

.ui-managerSet__item {
  width: 100%;
  height: 1.2rem;
  padding: 0 0.2rem;
  background: #fff;
  border-bottom: 1px solid #ddd; }

.ui-managerSet__iconOne {
  display: block;
  width: 0.6rem;
  height: 1.2rem;
  float: left;
  background: url("../../image/manager/about.png") center center no-repeat;
  -webkit-background-size: 0.6rem 0.6rem;
     -moz-background-size: 0.6rem 0.6rem;
       -o-background-size: 0.6rem 0.6rem;
          background-size: 0.6rem 0.6rem; }

.ui-managerSet__iconTwo {
  display: block;
  width: 0.6rem;
  height: 1.2rem;
  float: left;
  background: url("../../image/manager/system.png") center center no-repeat;
  -webkit-background-size: 0.6rem 0.6rem;
     -moz-background-size: 0.6rem 0.6rem;
       -o-background-size: 0.6rem 0.6rem;
          background-size: 0.6rem 0.6rem; }

.ui-managerSet__text {
  display: block;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.32rem;
  color: #333;
  float: left;
  padding-left: 0.2rem; }

.ui-managerSet__iconArrow {
  display: block;
  width: 0.6rem;
  height: 1.2rem;
  float: right;
  background: url("../../image/manager/arrow2.png") center center no-repeat;
  -webkit-background-size: 0.22rem 0.4rem;
     -moz-background-size: 0.22rem 0.4rem;
       -o-background-size: 0.22rem 0.4rem;
          background-size: 0.22rem 0.4rem; }

.ui-managerSet__quit {
  position: absolute;
  width: 100%;
  height: 1rem;
  background: #fff;
  bottom: 0.4rem; }

.ui-managerSet__textTwo {
  display: block;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.32rem;
  text-align: center;
  color: #ff0000; }
