body{background:#fff;}
.ui-badNetwork__content{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
    width:3.94rem;
    height:5.16rem;
	background:#fff;
}
img{ 
	display:block;
	width:3.92rem;
	margin:0 auto 0.48rem;
}
.ui-badNetwork__info{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-size:0.32rem;
}
p{
	font-weight:bold;
}
.ui-badNetwork__button{
   margin-top: 0.36rem;
   border:1px solid #4cbdbe;
   color: #4cbdbe;
   padding:0.14rem 0.64rem;
   background:#fff;
   border-radius:5px;
}



