<div id="header" class="ui-header is-base">
    <div class="ui-header__leftBtn" v-touch:tap="onTapLeftBtn"><i class="is-arrow"></i></div>

    <form class="search-form" onsubmit="return false;">
    <label>
        <input type="search" v-on:keyup.enter="search" value="" placeholder="商品名称/条码/自编码/助记码" class="search-input" v-model="searchInput">
        <input type="reset" class="icon-delete" value="" v-touch:tap="resetInput"/>
    </lebel>
    </form>
    <div v-if="isBoss !== 1" class="ui-header__rightBtn" v-touch:tap="onAddRightBtnTap">
    	<span class="ui-header__save">保存
    	</span>
    </div>
</div>
