<div id="header" class="ui-header" >
    <div class="ui-homeIndex__iconWrap" v-touch:tap="onTapSetting">
		<div class="ui-homeIndex__icon"></div>
	</div>
    <!-- <div class="ui-homeIndex__box" >
        <div v-for="item in list" :class="{'isIndex': active == $index}"  class="ui-homeIndexItem" v-touch:tap="onItemTap($index)">
            <span class="ui-homeIndexItem__text">{{item}}</span>
        </div>
    </div> -->
    <span v-for="item in list" class="ui-homeIndexItem__textTwo">{{item}}</span>
    <!-- <div class="ui-header__message" v-touch:tap="onTapRightBtn">
    </div> -->
    <!-- 2018-07-04新增 --> 
    <div class='ui-header__notes' v-touch:tap="onTapRightBtn">
        <span><img class="ui-contact" src="../../image/manager/contact.png" alt=""></span>
        <span v-if="noteCount">({{noteCount}})</span>
    </div>
</div>
