<div class="ui-body">
<div class="ui-themeClerkSideAssistant__top">
	<p class="ui-themeClerkSideAssistant__btnCancel" v-touch:tap="onClose">
		<img class="ui-goBack" src="../../image/store/scanBack.png"></img>
	</p>
</div>
<!-- 收支方式 -->
<ul class="ui-themeClerkSideAssistant__bottom" v-if="type==2">
	<li class="ui-themeClerkSideAssistant__number" v-touch:tap="onChooseItemAll(1)">
 		<span>全部收支方式</span>
 		<i v-if="item.isClick"></i>
	</li>
	<li class="ui-themeClerkSideAssistant__number" v-for="(i,item) in list" v-touch:tap="onChooseItem(i)">
 		<span>{{item.itemName}}</span>
 		<i v-if="item.isClick"></i>
	</li>
</ul>
<!-- 费用类型 -->
<ul class="ui-themeClerkSideAssistant__bottom" v-if="type==3">
	<li class="ui-themeClerkSideAssistant__number" v-touch:tap="onChooseItemAll(2)">
 		<span>全部费用方式</span>
 		<i v-if="item.isClick"></i>
	</li>
	<li class="ui-themeClerkSideAssistant__number" v-for="(i,item) in list" v-touch:tap="onChooseItem(i)">
 		<span>{{item.itemName}}</span>
 		<i v-if="item.isClick"></i>
	</li>
</ul>
<!-- 门店 -->
<ul class="ui-themeClerkSideAssistant__bottom" v-if="type==1">
	<li class="ui-themeClerkSideAssistant__number" v-touch:tap="onChooseItemAll(3)">
 		<span>全部门店方式</span>
 		<i v-if="item.isClick"></i>
	</li>
	<li class="ui-themeClerkSideAssistant__number" v-for="(i,item) in list" v-touch:tap="onChooseItem(i)" v-if="item">
		<span>{{item.itemName}}</span>
		<i v-if="item.isClick"></i>
	</li>
</ul>
<!-- 审核状态 -->
<ul class="ui-themeClerkSideAssistant__bottom" v-if="type==4">
	<li class="ui-themeClerkSideAssistant__number" v-touch:tap="onChooseItemAll(4)">
 		<span>全部审核方式</span>
 		<i v-if="item.isClick"></i>
	</li>
	<li class="ui-themeClerkSideAssistant__number" v-for="(i,item) in list" v-touch:tap="onChooseItem(i)">
 		<span>{{item.itemName}}</span>
 		<i v-if="item.isClick"></i>
	</li>
</ul>


</div>