<div class="ui-addTarget__wrapper">
	<div class="ui-addTarget__top">
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">目标名称</span>
			<input type="text" class="ui-addTarget__textRight" v-model="target_name" placeholder="10个汉字以内" onblur="this.placeholder='10个汉字以内'" maxlength="10">
		</div>
		<div class="ui-addTarget__item" v-touch:tap.prevent="onSelectType">
			<span class="ui-addTarget__textLeft" >目标范围</span>
			<input type="text" class="ui-addTarget__textRight" v-model="target_range" placeholder="请选择" readonly="readonly"></input>
		</div>
		<div class="ui-addTarget__item"  v-touch:tap="onTargetFilter">
			<span class="ui-addTarget__textLeft">具体目标</span>
			<input type="text" class="ui-addTarget__textRight" v-model="specific_target" placeholder="请选择" readonly="readonly"></input>
		</div>
		<div class="ui-addTarget__item"  v-touch:tap.prevent="onSelectDate('startDay')">
			<span class="ui-addTarget__textLeft">开始时间</span>
			<input type="text" class="ui-addTarget__textRight"  v-model="startDay" readonly="readonly" placeholder="请选择"></input>
		</div>
		<div class="ui-addTarget__item" v-touch:tap.prevent="onSelectDate('endDay')">
			<span class="ui-addTarget__textLeft">结束时间</span>
			<input type="text" class="ui-addTarget__textRight"  v-model="endDay" readonly="readonly" placeholder="请选择"></input>
		</div>
		<div class="ui-addTarget__item">
			<span class="ui-addTarget__textLeft">目标周期</span>
			<span class="ui-addTarget__textRightTwo">
				<input type="number" v-model="target_cycle" readonly="readonly"></input>天
			</span>
		</div>
	</div>
	<div class="ui-addTarget__bottom">
		<div class="ui-addTarget__item" v-for='item in list' >
			<span class="ui-addTarget__textLeft">{{item.store_name}}</span>
			<span class="ui-addTarget__textRightTwo">
				<input type="number" class="ui-addTarget__detail" class="ui-addTarget__textRight" placeholder="请输入"  onblur="this.placeholder='请输入'" v-model="item.each_goal" v-on:input="onSumTotal()">元
			</span>
			<!-- <span class="ui-addTarget__preinstall" v-if="isDetail">预设目标：111110</span> -->
		</div>
		<div class="ui-addTarget__item">
<!-- 			<span class="ui-addTarget__textLeft" v-if="isDetail || isComplete">企业目标</span> -->
			<span class="ui-addTarget__textLeft">预设目标</span>
			<span class="ui-addTarget__textRightTwo">
				<span class="ui-addTarget__totalTwo" >{{preinstall_goal*100|trans-price-before}}</span>元
			</span>
		</div>
		<div class="ui-addTarget__item" v-if="isComplete">
			<span class="ui-addTarget__textLeft">已完成</span>
			<span class="ui-addTarget__textRightTwo">
				<input type="number" class="ui-addTarget__total" v-model="complete" readonly="readonly"></input>元
			</span>
		</div>
	</div>
	<button class="ui-targetManage__add" v-touch:tap="onAddItem">保存</button>
</div>
